body{
  background-color: #ffffff;
  height: 100vh;
}

.circle{
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  position: relative;
  top: 40vh;
  margin: 0 auto;
  background-color: red;
  border-radius: 50%;
  border: 0.1px solid;
  box-shadow: 0 5px 3px 0 grey;
}
.wordColor{
  position: relative;
  top: 25px;
  color: #000000;
}